In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from Config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vardo,NO,2021-09-16 15:11:12,70.3705,31.1107,43.00,75,75,3.44
1,1,Ushuaia,AR,2021-09-16 15:11:13,-54.8000,-68.3000,37.02,59,100,2.21
2,2,Hermanus,ZA,2021-09-16 15:11:15,-34.4187,19.2345,61.81,61,100,8.41
3,3,Pisco,PE,2021-09-16 15:11:17,-13.7000,-76.2167,65.01,77,90,5.75
4,4,Jiuquan,CN,2021-09-16 15:11:17,39.7432,98.5174,71.44,25,100,6.40

In [3]:
# Get the data types for each column
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    [max(temp, 0) for temp in max_temp]

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add zoom.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
# Add heat layer
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Port Blair,IN,2021-09-16 15:08:44,11.6667,92.7500,77.74,85,100,7.43
13,13,San Cristobal,VE,2021-09-16 15:09:18,7.7669,-72.2250,84.38,47,15,8.10
14,14,Vila Franca Do Campo,PT,2021-09-16 15:11:21,37.7167,-25.4333,75.61,64,67,4.63
15,15,Chesapeake,US,2021-09-16 15:10:11,36.8190,-76.2749,84.20,72,1,1.99
22,22,Praia,CV,2021-09-16 15:11:24,14.9215,-23.5087,88.34,58,75,10.36
26,26,Leninskoye,KZ,2021-09-16 15:11:25,41.7589,69.3864,80.53,20,0,7.54
29,29,Cumana,VE,2021-09-16 15:11:25,10.4635,-64.1775,84.92,62,49,4.56
38,38,Korla,CN,2021-09-16 15:11:27,41.7597,86.1469,77.00,26,95,5.79
42,42,Avarua,CK,2021-09-16 15:11:30,-21.2078,-159.7750,75.25,83,20,18.41
44,44,Yulara,AU,2021-09-16 15:11:31,-25.2406,130.9889,78.64,36,75,5.75

In [12]:
preferred_cities_df.count()

City_ID       197
City          197
Country       197
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                    City Country  Max Temp      Lat       Lng Hotel Name
5             Port Blair      IN     77.74  11.6667   92.7500
13         San Cristobal      VE     84.38   7.7669  -72.2250
14  Vila Franca Do Campo      PT     75.61  37.7167  -25.4333
15            Chesapeake      US     84.20  36.8190  -76.2749
22                 Praia      CV     88.34  14.9215  -23.5087
26            Leninskoye      KZ     80.53  41.7589   69.3864
29                Cumana      VE     84.92  10.4635  -64.1775
38                 Korla      CN     77.00  41.7597   86.1469
42                Avarua      CK     75.25 -21.2078 -159.7750
44                Yulara      AU     78.64 -25.2406  130.9889

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Port Blair,IN,77.74,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
13,San Cristobal,VE,84.38,7.7669,-72.2250,Posada Villaven C.A.
14,Vila Franca Do Campo,PT,75.61,37.7167,-25.4333,Pestana Bahia Praia
15,Chesapeake,US,84.20,36.8190,-76.2749,Renaissance Portsmouth-Norfolk Waterfront Hotel
22,Praia,CV,88.34,14.9215,-23.5087,LT Aparthotel
...,...,...,...,...,...,...
553,Dahegam,IN,82.17,23.1667,72.8167,OYO 3231 Malhaar Resort
555,Pandan,PH,77.85,14.0453,124.1694,Bonifacio Lodge
557,Uong Bi,VN,84.18,21.0333,106.7833,khach san Trung lien
559,Praia Da Vitoria,PT,76.75,38.7333,-27.0667,Hotel Branco I
560,Esfahan,IR,85.64,32.6572,51.6776,Abbasi Hotel

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))